<header>
  <div>
    <%= link_to 'サンプルアプリ', :store_root, id: 'logo' %>
    <ul class="nav">
      <li><%= link_to '新規登録', :store_signup %></li>
      <li><%= link_to 'ログイン', :store_login %></li>
    </ul>
  </div>
</header>
